---
import '../styles/global.css';
import DefaultLayout from "../layouts/DefaultLayout.astro";

import HeroSection from '../components/Home/HeroSection';
import BodyTypeSelector from '../components/Home/BodyTypeSelector';
import PopularMakes from '../components/Home/PopularMakes';
import HowItWorks from '@/components/Home/HowItWorks';
import Branding from '@/components/Home/Branding';
import ProvideServices from "@/components/Home/ProvideServices";
import CustomerSays from "@/components/Home/CustomerSays";
import DifferentApproach from "@/components/Home/DifferentApproach";
import { getImage,Image } from 'astro:assets';

import heroImage from '@/assets/images/bg-image-2.jpg';
import convertible from '@/assets/images/Convertible.png';
import coupe from '@/assets/images/Coupe.png';
import hatchback from '@/assets/images/Hatchback.png';
import suv from '@/assets/images/SUV.png';
import sedan from '@/assets/images/Sedan.png';
import truck from '@/assets/images/Truck.png';
import howItWorksImage from '@/assets/images/car-how-it-works-2.png';
import carDiff from '@/assets/images/car-diff.png';
import provideSecImage from '@/assets/images/provide-sec.png';




// Optimize body type images
const bodyTypeImages = Object.fromEntries(await Promise.all(
	Object.entries({
		Convertible: convertible,
		Coupe: coupe,
		Hatchback: hatchback,
		SUV: suv,
		Sedan: sedan,
		Truck: truck,
	}).map(async ([key, src]) => [key, (await getImage({ src, width: 200, format: "webp" })).src])
));

const howItWorksImageOpt = await getImage({
	src: howItWorksImage,
	format: "webp",
	quality: 50
});
const diffImage = await getImage({
	src: carDiff,
	format: "webp",
	quality: 50,
});
const provideSecImageopt = await getImage({
	src: provideSecImage,
	format: "webp",
	quality: 50,
});



---



<DefaultLayout>
	<div class="w-full">
		<div class="grid">
			<Image
				style="grid-area: 1/1;"
				class="h-screen"
				src={heroImage}
				alt="Find your Perfect vehicle!"
				format="webp"
				loading="eager"
				width="1910"
				height="1080"
			/>

			<div style="grid-area: 1/1;" class="relative place-items-center">
				<Branding client:visible/>
				<HeroSection client:visible/>
				<div class="relative lg:translate-y-[-50%] lg:p-0">
					<BodyTypeSelector bodyTypeImages={bodyTypeImages} client:visible/>
				</div>

				<div class="my-10 flex flex-col gap-9">
					<PopularMakes client:load />
					<ProvideServices image={provideSecImageopt} client:visible />
					<HowItWorks image={howItWorksImageOpt} client:visible />
					<CustomerSays client:visible />
					<DifferentApproach image={diffImage} client:visible />
				</div>
			</div>
		</div>
	</div>
</DefaultLayout>